$spinner-transition-timing-function: cubic-bezier(1.0, 0.5, 0.8, 1.0);
$spinner-transition-duration: .15s;

@mixin currentIsRtl {
    &.selectbox__rtl, [dir=rtl] &:not(.selectbox__ltr) {
        @content;
    }
}

@mixin insideRtlSelectBox {
    .selectbox__rtl &, [dir=rtl] .selectbox:not(.selectbox__ltr) & {
        @content;
    }
}

.selectbox {
    --selectbox-border-radius: 4px;
    --selectbox-open-indicator-spacing: 0.25em;
    --selectbox-open-indicator-width: 1.2em;
    --selectbox-spinner-spacing: 0.125em;
    --selectbox-spinner-width: 1.2em;
    --selectbox-clear-spacing: 0.125em;
    --selectbox-clear-width: 1.2em;
    --selectbox-horz-padding: 0.5em;

    --selectbox-single-top-padding: 0.1667em;
    --selectbox-single-bottom-padding: 0.3334em;

    --selectbox-multi-vert-padding: 0.357em;
    --selectbox-multi-item-border-width: 1px;
    --selectbox-multi-item-border-radius: 4px;
    --selectbox-multi-item-horz-spacing: 0.416em;
    --selectbox-multi-item-vert-spacing: 0.416em;
    --selectbox-multi-item-horz-padding: 0.416em;
    --selectbox-multi-item-top-padding: 0px;
    --selectbox-multi-item-remove-spacing: 0.153em;
    --selectbox-multi-item-bottom-padding: 0.2em;
    --selectbox-multi-search-top-offset: 0px;

    position: relative;
    box-sizing: border-box;
    display: inline-block;
    cursor: default;
    outline: 0;
    line-height: 1.2;

    user-select: none;
    -webkit-user-select: none;

    color: #000;
    background-color: #fff;
    border-radius: var(--selectbox-border-radius);
    border: solid #aaa 1px;

    &.selectbox__rtl {
        direction: rtl;
    }

    &.selectbox__searchable {
        cursor: text;
    }

	&[aria-disabled=true] {
		border: solid #aaa 1px;
		background-color: #eee;
		cursor: default;

		* {
			cursor: default;
		}
	}

	&.has_droplist_above {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&.has_droplist_below {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

    &.selectbox__has_open_indicator:not(.selectbox__has_clear):not(.selectbox__has_spinner) {
        padding-right: var(--selectbox-open-indicator-width);

        @include currentIsRtl {
            padding-right: 0;
            padding-left: var(--selectbox-open-indicator-width);
        }
    }

    &.selectbox__has_clear:not(.selectbox__has_open_indicator):not(.selectbox__has_spinner) {
        padding-right: var(--selectbox-clear-width);

        @include currentIsRtl {
            padding-right: 0;
            padding-left: var(--selectbox-clear-width);
        }
    }

    &.selectbox__has_spinner:not(.selectbox__has_open_indicator):not(.selectbox__has_clear) {
        padding-right: var(--selectbox-spinner-width);

        @include currentIsRtl {
            padding-right: 0;
            padding-left: var(--selectbox-clear-width);
        }
    }

    &.selectbox__has_open_indicator.selectbox__has_spinner:not(.selectbox__has_clear) {
        padding-right: calc(var(--selectbox-open-indicator-width) + var(--selectbox-spinner-width));

        @include currentIsRtl {
            padding-right: 0;
            padding-left: calc(var(--selectbox-open-indicator-width) + var(--selectbox-spinner-width));
        }
    }

    &.selectbox__has_open_indicator.selectbox__has_clear:not(.selectbox__has_spinner) {
        padding-right: calc(var(--selectbox-open-indicator-width) + var(--selectbox-clear-width));

        @include currentIsRtl {
            padding-right: 0;
            padding-left: calc(var(--selectbox-open-indicator-width) + var(--selectbox-clear-width));
        }
    }

    &.selectbox__has_clear.selectbox__has_spinner:not(.selectbox__has_open_indicator) {
        padding-right: calc(var(--selectbox-clear-width) + var(--selectbox-spinner-width));

        @include currentIsRtl {
            padding-right: 0;
            padding-left: calc(var(--selectbox-clear-width) + var(--selectbox-spinner-width));
        }
    }

    &.selectbox__has_open_indicator.selectbox__has_clear.selectbox__has_spinner {
        padding-right: calc(var(--selectbox-open-indicator-width) + var(--selectbox-clear-width) + var(--selectbox-spinner-width));

        @include currentIsRtl {
            padding-right: 0;
            padding-left: calc(var(--selectbox-open-indicator-width) + var(--selectbox-clear-width) + var(--selectbox-spinner-width));
        }
    }

    &.selectbox__multi {
        padding-top: var(--selectbox-multi-vert-padding);
        padding-bottom: var(--selectbox-multi-vert-padding);
    }
}

.selectbox__focus {
    border-color: #66afe9;
    outline: 0;
	$shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: $shadow;
}

.selectbox__list {
    box-sizing: border-box;
    list-style: none none;
    display: inline-block;
    vertical-align: top;

    width: 100%;
    margin: calc(0px - var(--selectbox-multi-item-vert-spacing)) 0 0;
    padding: 0 var(--selectbox-horz-padding);

    text-overflow: ellipsis;
    white-space: nowrap;

    @include insideRtlSelectBox {
        &::before {
            float: left;
        }
    }
}

.selectbox__open_indicator {
    position: absolute;
    right: var(--selectbox-open-indicator-spacing);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 1em;
    width: 1em;
    height: 0.5em;
    overflow: hidden;
    direction: ltr;
    text-align: left;
    cursor: pointer;

    &::before {
        border-style: solid;
        border-color: #9d9d9d;
        border-width: 1.5px 1.5px 0 0;
        content: '';
        display: inline-block;
        height: 0.45em;
        left: 0.2em;
        position: relative;
        top: -0.18em;
        transform: rotate(135deg);
        vertical-align: top;
        width: 0.45em;
        transition: transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
    }

    .selectbox__open_list &::before {
        transform: translateY(50%) rotate(-45deg);
    }

    .selectbox__rtl &, [dir=rtl] .selectbox:not(.selectbox__ltr) & {
        right: auto;
        left: var(--selectbox-open-indicator-spacing);

        &::before {
            transform: rotate(-225deg);
        }
    }

    .selectbox__rtl.selectbox__open_list &, [dir=rtl] .selectbox.selectbox__open_list:not(.selectbox__ltr) & {
        &::before {
            transform: translateY(50%) rotate(315deg);
        }
    }
}

.selectbox__clear {
    position: absolute;
    right: var(--selectbox-clear-spacing);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    > button {
        box-sizing: border-box;
        display: block;
        cursor: pointer;
        font-weight: bold;
        width: 26px;
        text-align: center;
        font-size: 13px;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        border: 0;
        background: none;

        &:before {
            content: '×';
        }

        &:focus {
            outline: none;
            color: red;
        }
    }

    @include insideRtlSelectBox {
        right: auto;
        left: var(--selectbox-clear-spacing);
    }

    .selectbox__has_open_indicator.selectbox__has_clear & {
        right: calc(var(--selectbox-clear-spacing) + var(--selectbox-open-indicator-width));
    }

    .selectbox__has_open_indicator.selectbox__has_clear.selectbox__rtl &,
    [dir=rtl] .selectbox.selectbox__has_open_indicator.selectbox__has_clear:not(.selectbox__ltr) & {
        right: auto;
        left: calc(var(--selectbox-clear-spacing) + var(--selectbox-open-indicator-width));
    }

    .selectbox[aria-disabled=true] > & {
        display: none;
    }
}

.selectbox__spinner {
    position: absolute;
    right: var(--selectbox-spinner-spacing);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    &::before {
        content: '';
        display: block;
        font-size: 1em;
        width: 1em;
        height: 1em;
        text-indent: -9999em;
        overflow: hidden;
        border-top: 0.3em solid rgba(100, 100, 100, 0.1);
        border-right: 0.3em solid rgba(100, 100, 100, 0.1);
        border-bottom: 0.3em solid rgba(100, 100, 100, 0.1);
        border-left: 0.3em solid rgba(60, 60, 60, 0.45);
        border-radius: 50%;
        transform: translateZ(0);
        animation: selectbox__spinner_anim 1.1s infinite linear;
        transition: opacity .1s;
    }

    @include insideRtlSelectBox {
        right: auto;
        left: var(--selectbox-spinner-spacing);
    }

    .selectbox__has_spinner.selectbox__has_open_indicator:not(.selectbox__has_clear) & {
        right: calc(var(--selectbox-spinner-spacing) + var(--selectbox-open-indicator-width));
    }

    .selectbox__has_spinner.selectbox__has_clear:not(.selectbox__has_open_indicator) & {
        right: calc(var(--selectbox-spinner-spacing) + var(--selectbox-clear-width));
    }

    .selectbox__has_spinner.selectbox__has_open_indicator.selectbox__has_clear & {
        right: calc(var(--selectbox-spinner-spacing) + var(--selectbox-clear-width) + var(--selectbox-open-indicator-width) + var(--selectbox-spinner-width));
    }

    .selectbox__has_spinner.selectbox__has_open_indicator:not(.selectbox__has_clear).selectbox__rtl &,
    [dir=rtl] .selectbox.selectbox__has_spinner.selectbox__has_open_indicator:not(.selectbox__has_clear):not(.selectbox__ltr) & {
        right: auto;
        left: var(var(--selectbox-spinner-spacing) + --selectbox-open-indicator-width);
    }

    .selectbox__has_spinner.selectbox__has_clear:not(.selectbox__has_open_indicator).selectbox__rtl &,
    [dir=rtl] .selectbox.selectbox__has_spinner.selectbox__has_clear:not(.selectbox__has_open_indicator):not(.selectbox__ltr) & {
        right: auto;
        left: calc(var(--selectbox-spinner-spacing) + var(--selectbox-clear-width));
    }

    .selectbox__has_spinner.selectbox__has_clear.selectbox__has_open_indicator.selectbox__rtl &,
    [dir=rtl] .selectbox.selectbox__has_spinner.selectbox__has_clearselectbox__has_open_indicator:not(.selectbox__ltr) & {
        right: auto;
        left: calc(var(--selectbox-spinner-spacing) + var(--selectbox-clear-width) + var(--selectbox-open-indicator-width));
    }
}

.selectbox__item {
    box-sizing: border-box;
    float: left;
    cursor: default;

    background-color: #e4e4e4;
    border: var(--selectbox-multi-item-border-width) solid #aaa;
    border-radius: var(--selectbox-multi-item-border-radius);

    margin-left: 0;
    margin-right: var(--selectbox-multi-item-horz-spacing);
    margin-top: var(--selectbox-multi-item-vert-spacing);
    padding: var(--selectbox-multi-item-top-padding) var(--selectbox-multi-item-horz-padding) var(--selectbox-multi-item-bottom-padding);
    line-height: inherit;

	span {
		vertical-align: top;
	}

	&:focus {
		background-color: #ccc;
		outline: 0;
	}

    @include insideRtlSelectBox {
        float: right;
        margin-left: var(--selectbox-multi-item-horz-spacing);
        margin-right: 0;
    }
}

.selectbox__item_remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 0.2em;
	font-size: 13px;

	&:before {
		content: '×';
	}

    &:first-child {
        margin-right: var(--selectbox-multi-item-remove-spacing);
    }

    &:last-child {
        margin-left: var(--selectbox-multi-item-remove-spacing);
    }

    @include insideRtlSelectBox {
        &:first-child {
            margin-left: var(--selectbox-multi-item-remove-spacing);
            margin-right: 0;
        }

        &:last-child {
            margin-right: var(--selectbox-multi-item-remove-spacing);
            margin-left: 0;
        }
    }
}

.selectbox__single_wrapper {
    position: relative;
    min-height: 1em;
    max-width: 100%;
    margin: 0;
    padding: var(--selectbox-single-top-padding) var(--selectbox-horz-padding) var(--selectbox-single-bottom-padding) var(--selectbox-horz-padding);
    color: currentColor;

    &:empty::after { content: '\200b'; }

    .selectbox__empty_selection & {
        width: 12em;
    }

    .selectbox__has_selection.selectbox__has_input & {
        opacity: 0;
    }
}

.selectbox__has_selection.selectbox__empty_input.has_droplist .selectbox__single_wrapper,
.selectbox__has_selection.selectbox__empty_input.selectbox__focus .selectbox__single_wrapper {
    opacity: 0.5;
}

.selectbox__search_wrapper {
	max-width: 100%;

    .selectbox__multi & {
        float: left;
        margin-top: calc(var(--selectbox-multi-item-vert-spacing) +
        var(--selectbox-multi-item-border-width) +
        var(--selectbox-multi-item-top-padding) +
        var(--selectbox-multi-search-top-offset));
    }

    .selectbox__single & {
        position: absolute;
        z-index: 1;
        left: 0;
        top: var(--selectbox-single-top-padding);
    }

    .selectbox__multi.selectbox__rtl &,
    [dir=rtl] .selectbox.selectbox__multi:not(.selectbox__ltr) & {
        float: right;
    }

    .selectbox__single.selectbox__rtl &,
    [dir=rtl] .selectbox.selectbox__single:not(.selectbox__ltr) & {
        right: 0;
        left: auto;
    }
}

input.selectbox__search_field {
    box-sizing: border-box;
	display: inline-block;
    height: auto;
	max-width: 100%;
    cursor: inherit;
    color: currentColor;

    -webkit-appearance: none;
    appearance: none;
	background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    outline: 0;
    margin: 0;
    padding: 0;

    font-family: inherit;
    font-size: 1em;
    line-height: normal;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        appearance: none;
        -webkit-appearance: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    &::-ms-clear {
        appearance: none;
        -webkit-appearance: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

	&:focus {
		outline: 0 !important;
		border: 0 !important;
		box-shadow: none !important;
	}
}

.selectbox__single input.selectbox__search_field {
    padding: 0 var(--selectbox-horz-padding);
}

.selectbox__multi input.selectbox__search_field {
    padding: 0;
}

.selectbox.has_droplist_above {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.selectbox.has_droplist_below {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@-webkit-keyframes selectbox__spinner_anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes selectbox__spinner_anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
