$spinner-transition-timing-function: cubic-bezier(1.0, 0.5, 0.8, 1.0);
$spinner-transition-duration: .15s;

.selectbox {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    cursor: default;
    outline: 0;

    user-select: none;
    -webkit-user-select: none;

    color: #000;
    background-color: #fff;
    border-radius: 4px;
    border: solid #aaa 1px;

    &.selectbox__searchable {
        cursor: text;
    }

	&[aria-disabled=true] {
		border: solid #aaa 1px;
		background-color: #eee;
		cursor: default;

		* {
			cursor: default;
		}
	}

	&.has_droplist_above {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&.has_droplist_below {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

    &.selectbox__single {
        padding-top: 4px;

        &.selectbox__has_open_indicator:not(.selectbox__has_clear):not(.selectbox__has_spinner) {
            padding-right: 17px;

            [dir=rtl] & {
                padding-right: 0;
                padding-left: 17px;
            }
        }

        &.selectbox__has_clear:not(.selectbox__has_open_indicator):not(.selectbox__has_spinner),
        &.selectbox__has_spinner:not(.selectbox__has_open_indicator):not(.selectbox__has_clear) {
            padding-right: 27px;

            [dir=rtl] & {
                padding-right: 0;
                padding-left: 27px;
            }
        }

        &.selectbox__has_open_indicator.selectbox__has_spinner:not(.selectbox__has_clear),
        &.selectbox__has_open_indicator.selectbox__has_clear:not(.selectbox__has_spinner) {
            padding-right: 44px;

            [dir=rtl] & {
                padding-right: 0;
                padding-left: 44px;
            }
        }

        &.selectbox__has_clear.selectbox__has_spinner:not(.selectbox__has_open_indicator) {
            padding-right: 54px;

            [dir=rtl] & {
                padding-right: 0;
                padding-left: 54px;
            }
        }

        &.selectbox__has_open_indicator.selectbox__has_clear.selectbox__has_spinner {
            padding-right: 74px;

            [dir=rtl] & {
                padding-right: 0;
                padding-left: 74px;
            }
        }
    }

    &.selectbox__multi {
        padding-top: 5px;
    }
}

.selectbox__focus {
    border-color: #66afe9;
    outline: 0;
	$shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: $shadow;
}

.selectbox__list {
    box-sizing: border-box;
    list-style: none none;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

    width: 100%;
    margin: -5px 0 0;
    padding: 0 8px 4px;

    text-overflow: ellipsis;
    white-space: nowrap;

    &::before {
        /* spacer for floated controls */
        float: right;

        display: block;
        content: '';
        width: 0;
        height: 25px;

        [dir=rtl] & {
            float: left;
        }
    }

    .selectbox__has_open_indicator &,
    .selectbox__has_clear &,
    .selectbox__has_spinner & {
        &::before {
            margin-left: -8px;
            margin-right: -8px;
        }
    }

    .selectbox__has_open_indicator:not(.selectbox__has_clear):not(.selectbox__has_spinner) & {
        &::before {
            width: 17px;
        }
    }

    .selectbox__has_clear:not(.selectbox__has_open_indicator):not(.selectbox__has_spinner) &,
    .selectbox__has_spinner:not(.selectbox__has_open_indicator):not(.selectbox__has_clear) & {
        &::before {
            width: 27px;
        }
    }

    .selectbox__has_open_indicator.selectbox__has_spinner:not(.selectbox__has_clear) &,
    .selectbox__has_open_indicator.selectbox__has_clear:not(.selectbox__has_spinner) & {
        &::before {
            width: 44px;
        }
    }

    .selectbox__has_clear.selectbox__has_spinner:not(.selectbox__has_open_indicator) & {
        &::before {
            width: 54px;
        }
    }

    .selectbox__has_open_indicator.selectbox__has_clear.selectbox__has_spinner & {
        &::before {
            width: 74px;
        }
    }
}

.selectbox__open_indicator {
    position: absolute;
    right: 4px;
    z-index: 2;
    font-size: 1em;
    width: 1em;
    height: 0.6423em;
    overflow: hidden;
    direction: ltr;
    text-align: left;
    cursor: pointer;

    &::before {
        border-style: solid;
        border-color: #9d9d9d;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        display: inline-block;
        height: 0.45em;
        left: 0.15em;
        position: relative;
        top: -0.18em;
        transform: rotate(135deg);
        vertical-align: top;
        width: 0.45em;
        transition: transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
    }

    [dir=rtl] &::before {
        transform: rotate(-225deg);
    }

    .selectbox__open_list &::before {
        transform: translateY(50%) rotate(-45deg);
    }

    [dir=rtl] & {
        right: auto;
        left: 4px;
    }

    .selectbox__multi & {
        top: 11px;
    }

    .selectbox__single & {
        top: 8px;
    }
}

.selectbox__clear {
    position: absolute;
    right: 2px;
    z-index: 2;

    > button {
        box-sizing: border-box;
        display: block;
        cursor: pointer;
        font-weight: bold;
        width: 26px;
        text-align: center;
        font-size: 13px;
        line-height: 1.4;
        margin: 0;
        padding: 0 0 3px;
        border: 0;
        background: none;

        &:before {
            content: '×';
        }

        &:focus {
            outline: none;
            color: red;
        }
    }

    [dir=rtl] & {
        right: auto;
        left: 2px;
    }

    .selectbox__multi & {
        top: 5px;
    }

    .selectbox__single & {
        top: 4px;
    }

    .selectbox__has_open_indicator.selectbox__has_clear & {
        right: 14px;

        [dir=rtl] & {
            right: auto;
            left: 14px;
        }
    }
}

.selectbox__spinner {
    position: absolute;
    right: 2px;
    z-index: 2;
    font-size: 1em;
    width: 1em;
    height: 1em;
    text-indent: -9999em;
    overflow: hidden;
    border-top: 0.3em solid rgba(100, 100, 100, 0.1);
    border-right: 0.3em solid rgba(100, 100, 100, 0.1);
    border-bottom: 0.3em solid rgba(100, 100, 100, 0.1);
    border-left: 0.3em solid rgba(60, 60, 60, 0.45);
    border-radius: 50%;
    transform: translateZ(0);
    animation: selectbox__spinner_anim 1.1s infinite linear;
    transition: opacity .1s;

    [dir=rtl] & {
        right: auto;
        left: 2px;
    }

    .selectbox__multi & {
        top: 4px;
    }

    .selectbox__single & {
        top: 3px;
    }

    .selectbox__has_spinner.selectbox__has_open_indicator & {
        right: 22px;

        [dir=rtl] & {
            right: auto;
            left: 22px;
        }
    }

    .selectbox__has_spinner.selectbox__has_clear & {
        right: 36px;

        [dir=rtl] & {
            right: auto;
            left: 36px;
        }
    }
}

.selectbox__item {

    box-sizing: border-box;
    float: left;
    cursor: default;

    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;

    margin-left: 0;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px 2px;

	span {
		vertical-align: middle;
	}

	&:focus {
		background-color: #ccc;
		outline: 0;
	}

    [dir=rtl] & {
        float: right;
        margin-left: 5px;
        margin-right: 0;
    }
}

.selectbox__item_remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
	font-size: 13px;

	&:before {
		content: '×';
	}

    [dir=rtl] & {
        margin-left: 2px;
        margin-right: 0;
    }
}

.selectbox__single_wrapper {
    position: relative;
    min-height: 1em;
    max-width: 100%;
    margin: 0 0 3px;
    padding: 2px 0 1px;
    color: currentColor;

    &:empty::after { content: '\200b'; }

    .selectbox__empty_selection & {
        width: 12em;
    }

    .selectbox__has_selection.selectbox__has_input & {
        opacity: 0;
    }
}

.selectbox__has_selection.selectbox__empty_input.has_droplist .selectbox__single_wrapper,
.selectbox__has_selection.selectbox__empty_input.selectbox__focus .selectbox__single_wrapper {
    opacity: 0.5;
}

.selectbox__search_wrapper {
	max-width: 100%;

    .selectbox__multi & {
        float: left;
        margin-top: 5px;

        [dir=rtl] & {
            float: right;
        }
    }

    .selectbox__single & {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 4px;

        [dir=rtl] & {
            right: 0;
            left: auto;
        }
    }
}

input.selectbox__search_field {
    box-sizing: border-box;
	display: inline-block;
    height: auto;
	max-width: 100%;
    cursor: inherit;
    color: currentColor;

    -webkit-appearance: none;
    appearance: none;
	background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    outline: 0;
    margin: 0;
    padding: 2px 0;

    font-size: 1em;
    line-height: normal;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        appearance: none;
        -webkit-appearance: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    &::-ms-clear {
        appearance: none;
        -webkit-appearance: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

	&:focus {
		outline: 0 !important;
		border: 0 !important;
		box-shadow: none !important;
	}
}

.selectbox__single_wrapper,
.selectbox__single input.selectbox__search_field {
    padding-left: 8px;
    padding-right: 8px;
}

@-webkit-keyframes selectbox__spinner_anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes selectbox__spinner_anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
